@CHARSET "ISO-8859-1";

@media print{@page {size: landscape}}
body {
background-color:#7F7D40;
font-family:Verdana, Arial, sans-serif;
color:white;
}
tr td {
background-color: #EFEBFF;
color: black;
padding: 2px;
}
tr:hover td {
border-top:2px solid #eeeeee;
border-left:2px solid #eeeeee;
border-bottom:2px solid gray;
border-right:2px solid gray;
padding: 0px;
}
tr.d0 td {
background-color: #ffffff; 
color: black;
}
tr.d1 td {
color: black;
}
tr.group0 td {
background-color: #FFCCCC;
}
tr.group1 td {
background-color: #FFE5CC;
}
tr.group2 td {
background-color: #FFFFCC;
}
tr.group3 td {
background-color: #E5FFCC;
}
tr.group4 td {
background-color: #CCFFCC;
}
tr.group5 td {
background-color: #CCFFE5;
}
tr.group6 td {
background-color: #CCFFFF;
}
tr.group7 td {
background-color: #CCE5FF;
}
tr.group8 td {
background-color: #CCCCFF;
}
tr.group9 td {
background-color: #E5CCFF;
}
tr.group10 td {
background-color: #FFCCFF;
}
tr.group11 td {
background-color: #FFCCE5;
}
tr.depressed td {
border-top:2px solid gray;
border-left:2px solid gray;
border-bottom:2px solid #eeeeee;
border-right:2px solid #eeeeee;
padding: 0px;
color: darkgreen;
font-weight:bold;
}
#canvas {
position:absolute;
top:75px;
right: 0px;
left: 0px;
}
#contentArea {
padding:5px 10px;
width:1050px;
margin:auto;
border-right: 3px solid #333;
border-bottom: 3px solid #333;
}
#report {
top:75px;
clear:both;
}
#groupform {
	margin:auto;
	padding: 20px;
	background-color:white;
	color:black;
	border:3px solid black;
	width: 530px;
}
#groupinput {
	float:left;
	padding: 20px 30px;	
}
#colorchooser {
	float:left;
	width: 110px;
	padding: 20px 30px;
}
#buttons {
	clear: both; 
	text-align:right;
	padding: 20px 30px;
}
table {
font-family:monospace;
font-size:medium;
width:100%;
}
ul {
list-style-type:none;
}
ul.nav {
float:right;
margin:0;
}
#wordSelector {
position:absolute;
top:0px;
right:0px;
z-index:1;
text-align:right;
padding:20px;
}
#srcSelector {
float:left;
font-family:monospace;
font-size:12px;
list-style: none; 
}
#viewnav {
background-color:lightBlue;
}
#pagenav {
background-color:lavender;
}
li {
display:block;
}
ul.nav li {
display:inline;
}
li.selected {
background-color:#ffffcc;
padding:5px;
}

ul li ul { 
display: none;  
border-top: 1px solid #333;
border-left: 1px solid #333;
border-right: 3px solid #333;
border-bottom: 3px solid #333;
padding: 3px; 
margin: 3px;
background-color: #EFEBFF;
} 

ul li:hover ul { 
display: block;
}