@CHARSET "ISO-8859-1";

body {
background-color:#7F7D40;
font-family:Verdana, Arial, sans-serif;
font-size:small;
}
tr td {
background-color: #E6E0FF;
color: black;
padding: 2px;
}
tr:hover td {
border-top:2px solid #eeeeee;
border-left:2px solid #eeeeee;
border-bottom:2px solid gray;
border-right:2px solid gray;
padding: 0px;
}
tr.depressed0 td {
border-top:2px solid gray;
border-left:2px solid gray;
border-bottom:2px solid #eeeeee;
border-right:2px solid #eeeeee;
padding: 0px;
}
tr.d0 td {
background-color: #ffffff; 
color: black;
}
tr.depressed0 td {
background-color: #ffffff; 
border-top:2px solid gray;
border-left:2px solid gray;
border-bottom:2px solid #eeeeee;
border-right:2px solid #eeeeee;
padding: 0px;
}
tr.d1 td {
background-color: #E6E0FF;
color: black;
}
tr.depressed1 td {
background-color: #E6E0FF; 
border-top:2px solid gray;
border-left:2px solid gray;
border-bottom:2px solid #eeeeee;
border-right:2px solid #eeeeee;
padding: 0px;
}
th {
color:white;
}
#protocol {
background-color:#c099c0;
margin:auto;
padding:5px 15px 5px 15px;
width:750px;
height:18px;
}
#contentArea {
background-color:#ffffff;
margin:auto;
border:thin solid #c099c0;
padding:5px 10px;
width:750px;
}
#statusDiv {
background-color:#eeeec0;
margin:5px 5px 5px 0px;
padding:5px 5px 5px 5px;
width:210px;
height:25px;
font-size:x-small;
}
#resultsDiv {
background-color:#eeeec0;
margin:5px 5px 5px 0px;
padding:5px 5px 5px 5px;
font-size:x-small;
height:85px;
}
#report {
position:absolute;
border-right: 3px solid #333;
border-bottom: 3px solid #333;
top:75px;
clear:both;
}
table {
font-family:monospace;
font-size:medium;
width:100%;
}
ul {
list-style-type:none;
}
ul.nav {
float:right;
margin:0;
}
#wordSelector {
position:absolute;
top:0px;
left:1024px;
width:400px;
z-index:1;
}
#srcSelector {
float:left;
font-family:monospace;
font-size:12px;
list-style: none; 
}
#viewnav {
background-color:lightBlue;
}
#pagenav {
background-color:lavender;
}
li {
display:block;
}
ul.nav li {
display:inline;
}
li.selected {
background-color:#ffffcc;
padding:5px;
}

ul li ul { 
display: none;  
border-top: 1px solid #333;
border-left: 1px solid #333;
border-right: 3px solid #333;
border-bottom: 3px solid #333;
padding: 3px; 
margin: 3px;
background-color: #E6E0FF;
} 

ul li:hover ul { 
display: block;
}
.group00 {
background-color: #FFCCCC;
}
.group01 {
background-color: #FFE5CC;
}
.group02 {
background-color: #FFFFCC;
}
.group03 {
background-color: #E5FFCC;
}
.group04 {
background-color: #CCFFCC;
}
.group05 {
background-color: #CCFFE5;
}
.group06 {
background-color: #CCFFFF;
}
.group07 {
background-color: #CCE5FF;
}
.group08 {
background-color: #CCCCFF;
}
.group09 {
background-color: #E5CCFF;
}
.group10 {
background-color: #FFCCFF;
}
.group11 {
background-color: #FFCCE5;
}